*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    background-image: url(../img/headerBc.jpg);
    height: 100vh;
}

nav {
    background-color: #000;
}

h1{
    color: #fff;  
    font-size: 90px;
    font-weight: bolder;
    text-shadow: 0px 0px 5px #000;
    -webkit-text-stroke: 0.5px #000; 
    padding-top: 20%; 
    
}

li {
    display: inline-block;
    padding: 2% 2% 2% 2%;
    
}

header a {
    display: block;
    text-decoration: none;
    color: #fff;
    
}
a:hover{
    color: #6495ed;
}

.projectOne__container{
    text-align: center;
}
.projectTwo__container {
    text-align: center;
    margin-top: 5%;
}

h2 {
    padding: 1.5% 1.5% 1.5% 0;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
}


.link {
    padding: 2% 2% 2% 2%;
    margin: 3%;
    border: 1px solid #000;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
}

.link:hover{
    background-color: rgb(181, 181, 181);
}
