@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

*{
    border: none;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #fff; 
}

body{
    background-color: #000;
}

nav{
    background-color: #000;
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.navBtn, .miniMenu{
    display: none;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 2rem;        
}

li {
    display: block;
    list-style-type: none;
    /* padding: 1rem 4rem; */
}

.navLink a{
    display: block;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 4rem;
}

li:hover{
    cursor: pointer;
}

.navLink:hover{
    background-color: #349026;
}
.navLink:hover a{
    text-decoration: underline;
}

header{
    background: url(../img/mainHeaderBG.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

h1{
    font-family: 'Sigmar', sans-serif;
    font-size: 5rem;
    margin: 2rem 0;
}

header p{
    font-weight: bold;
    font-size: 1.25rem;
}

h2{
    font-family: 'Sigmar';
    font-size: 2.5rem;
    text-align: center;
    margin: -2.5rem 0 2.5rem 0;
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menuCard{
    border: solid #A1A1A1 0.125rem;
    border-radius: 0.8rem;
    width: 28%;
    margin: 1.5rem;
    padding: 0 0 1rem 0;
}
.menuCardFlip{
    padding-top: 1rem;
    margin: 0 0 0.8rem 0.8rem;
    display: none;
}
table{
    border-spacing: 15px;
    width: 95%;
    text-align: left;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid white;
}
.menuCard:hover{
    cursor: pointer;
}
.menuCard:hover .menuCardHeader{
    display: none;
}
.menuCard:hover .menuCardFlip{
    display: block;
}

.menuCard:hover .price{
    margin-top: 0;
    border-radius: 0.8rem 0.8rem 0 0.8rem;
}

.menuCard img{
    width: 100%;
    height: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
    z-index: 0;
    
}

h3{
    text-transform: uppercase;
    font-family: 'Sigmar';
    font-weight: 100;
    font-size: 1.5rem;
    color: #F2BE0D;
    margin: 0 0.9rem;    
}

.menuCard p{
    margin: 0 0 0.8rem 0.8rem;
    
}

.price{
    margin-left: 75%;
    margin-top: -5%;
    background-color: #349026;
    width: 25%;
    height: 10%;
    z-index: 1;
    position: relative;
    border-radius: 0.3rem 0 0 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price p{
    color: #000;
    font-size: 1.1rem;
    padding-top: 0.7rem;
    font-family: 'Sigmar';
}

.menuBtn{
    margin: 1rem;
    background: none;
    padding: 1rem 5rem;
    border: 0.15rem #349026 solid;
    border-radius: 2rem;
    transition: 0.1s;
}

.menuBtn a{
    color: #349026;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.menuBtn:hover {
    cursor: pointer;
    padding: 1rem 8rem;
    box-shadow: inset 0 0 20px #349026;
}

.menuBtn:active {
    cursor: pointer;
    padding: 1rem 8rem;
    box-shadow: inset 0 0 20px #349026;
}
.menuBtn:hover a{
    text-decoration: underline;
}

h2 span{
    position: relative;
    top: 2rem;
}

.review{
    display: flex;
}

.reviewCard{
    margin: 2rem;
    border: 0.1rem #A1A1A1 solid;
    border-radius: 1rem 1rem 0.8rem 0.8rem ;
}

.reviewLike{
    display: flex;
    background: none;
    align-items: center;
    gap: 0.8rem;
    padding: 0.4rem;
}

.reviewLike:hover{
    cursor: pointer;
}

.reviewLike:hover{
    box-shadow: inset 0 0 7px #E84649;
    border-radius: 0.4rem;
}

.reviewHeader{
    border-bottom: 0.1rem #A1A1A1 solid;
    border-radius: 0.8rem 0.8rem 0 0 ;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.reviewBody{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewBody img{
    padding: 1.3rem;
    width: 60%;
}

.reviewHead{
    margin-top: 8rem;
}

.reviewLinks{
    display: flex;
    justify-content: center;
}

.reviewMore{
    color: #A1A1A1;
}

.reviewMore:hover{
    color: #E84649;
}

.timeTable{
    color: #000;
    width: 100%;
    background-color: #fff;
    margin: 9rem 0 0 0;
    padding-top: 4rem;
}

.bookContainer{
    background-color: #fff;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.cardContainer{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 5%;
}

h4{
    padding: 0.8rem;
}

.bookContainer p{
    padding: 0 1rem;
}

/* .bookContainer span{
    margin-top: 1rem;
} */

.bookContainer h4, .timeMore p a{
    font-size: 1.2rem;
    font-weight: 900;
    color: #55AE47;
}

.timeCard, .timeMore{
    width: 12.5rem;
    height: 8rem;
    background-color: #000;
    border-radius: 0.9rem;
    position: relative;
}

.timeFront, .timeBack{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.6s;
    backface-visibility: hidden;
}

.timeBack{
    display: flex;
    flex-direction: column;
    transform: rotateY(180deg);
}

.timeFront{
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeMore{
    background-color: #fff;
    border: 0.4rem #55AE47 solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeMore p a{
    text-decoration: none;
    font-size: 1.5rem;
}

.timeMore:hover{cursor: pointer;}
.timeMore:hover a{text-decoration: underline; font-size: 1.68rem;}

.timeCard:hover .timeFront{transform: rotateY(180deg); cursor: pointer;}
.timeCard:hover .timeBack{transform: rotateY(360deg); cursor: pointer;}

.aboutContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutContainer section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    gap: 10rem;
    text-align: center;
}

.aboutContainer{
    margin-top: 30rem;
    margin-bottom: 5%;
}

.aboutContainer img{
    width: 31.25rem;
    height: 25rem;
}

.findContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.findContainer iframe{
    width: 60%;
    border-radius: 1rem 1rem 0 0;
}

.infoContainer{
    width: 60%;
    border-top: #000 0.3rem solid;
    border-radius: 0 0 1rem 1rem;
    background-color: #fff;
}

.infoContainer p{
    color: #000;
    padding: 1rem;
}

.infoContainer p span{
    font-weight: 900;
    color: #000;
    padding-left: 3rem;
}

footer{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.logo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: 14rem;
}

.logo p{
    font-size: 3rem;
    font-weight: 900;
    color: #F2BE0D;
}

footer p {
    color: #A1A1A1;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.icons img {
    border-radius: 0.4rem;
}