/* Global styles */
/* * {
    border: 0.5px solid rgb(255, 0, 225);
  }
   */
  /* .tittle */
  .tittle {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    margin-top: 5rem;
  }
  
  .tittle,
  h2 {
    flex-grow: 1;
    text-align: center;
    font-size: 1.25rem;
    
  }

  .returnBtn {
    padding: 10px;

    border-radius: 30em;
    background-color: #10100C;
    border: 1px solid grey;

    display: grid;
    place-content: center;
}

.returnBtn
a {
    display: flex;
    align-items: center;
}

.returnBtn:hover{
  background-color: rgb(57, 57, 57);

  border: 1px solid #55AE47;
}
  
  /* .feed */
  .userComments {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .reviewCardReact {
    width: max-content;
    display: flex;
    align-items: center;
    background: none;
    border: none;
  }
  
  .reviewCardIconX {
    width: 1.25rem;
  }
  
  .reviewCardReact p {
    margin-left: 0.75rem;
  }
  
  /* .review */
  .review {
    padding: 1.5rem 0.5rem;
    flex-wrap: wrap;
    gap: 0.75rem;
  }
  
  .review_box1 {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  .review_box2 {
    display: flex;
    gap: 2rem;
  }
  
  .rate {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 10px;
    justify-content: flex-end;
  }
  
  .characterCount {
    color: grey;
  }
  
  /* .card_review */
  .card_review {
    padding: 1.125rem;
    background-color: #fff;
    border-radius: 0.9375rem;
    display: flex;
    flex-direction: column;
    gap: 0.0625rem;
  }
  
  /* .secondReviewCard */
  .secondReviewCard {
    background-color: #10100C;
    padding: 1.5rem 2rem;
    display: flex;
    gap: 1rem;
    border: 1px solid grey;
    border-radius: 10px;
  }
  
  .secondReviewCard p {
    flex-grow: 1;
  }
  
  .cardContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  
  .cardContainer p {
    color: #fff;

  }
  
  .nickname {
    text-align: start;
  }
  
  .items {
    display: flex;
    gap: 1rem;
  }
  
  .menuItem {
    color: #55AE47;
  }
  
  .menuItem:hover {
    text-decoration: underline;
    /* color: var(--green); */
  }
  
  .secondReviewCard h3 {
    width: 100%;
  }
  
  .circle {
    aspect-ratio: 1/1;
    height: 5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
  
  .imgCard {
    aspect-ratio: 4/3;
    height: 10rem;
    background-image: url("../inc/img/review_page/img_burger.jpg");
    background-position: center;
    background-size: cover;

    float: left;
  }
  
  .comment {
    color: #fff;
    flex: 1;
    resize: none;
  }
  
  .comment,
  .submitComment {
    background: none;
    border: 2px solid grey;
    border-radius: 0.625rem;
    padding: 1rem 1rem;
  }
  
  .submitBox {
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 1.5rem;
  }
  
  .submitComment {
    height: 50%;
  }
  
  .addPicture {
    visibility: hidden;
    display: none;
  }
  
  .upload {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-radius: 0.625rem;
    padding: 1rem 1rem;
    height: 50%;
  }
  
  .upload:hover {
    background-color: #55AE47;
    cursor: pointer;
  }
  
  .uploadText {
    color: #fff;
  }
  
  .comment:focus {
    outline: none;
  }
  
  .submitComment:hover {
    cursor: pointer;
    background-color: #55AE47;
    border-color: #55AE47;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .rate form:not(:checked) > input {
    position: absolute;
    top: -9999px;
    visibility: hidden;
  }
  
  .rate form:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
  }
  
  .rate form:not(:checked) > label:before {
    content: '★ ';
  }
  
  .rate form > input:checked ~ label {
    color: #55AE47;
  }
  
  .rate form:not(:checked) > label:hover,
  .rate form:not(:checked) > label:hover ~ label {
    color: #55AE47;
  }
  
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: #55AE47;
  }



  .test {
    background-color: #fff;

    height: 150px;

    display: flex;

    justify-content: space-around;
    align-items: center;
  }

  .testStar {
    /* background-color: var(--green); */

    height: 50px;
    width: 50px;

    display: flex;
    align-items: center;

    color: #10100C;

    content: '★ ';
  }
  @media screen and (max-width: 800px) {

    .secondReviewCard {
        flex-direction: column-reverse;
    }

    .img_caC {
        width: 100%;
    }

}

.reviewCard {
  display: flex;
  flex-direction: column;
}

.reviewCardHeader {
  padding: 16px 32px;

  border-style: solid;
  border-color: grey;
  border-width: 1px 1px 0px 1px;
  border-radius: 10px 10px 0px 0px;

  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.reviewCardBody {
  padding: 16px 32px;

  border-radius: 0px 0px 10px 10px;
  border: 1px solid grey;

  display: flex;
  flex-direction: column;
}

.reviewCardButton {
  width: max-content;

  display: flex;
  gap: 8px;
  align-items: center;

  border: none;
  background: none;
}

.reviewCardButton:hover {
  cursor: pointer;
}

.reviewCardMeta {
  font-size: 14px;
  color: #fff;
}

.reviewCardIcon {
  aspect-ratio: 1/1;
  max-width: 32px;
  border-radius: 32px;
}

.reviewCardContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.reviewCardContent {
  color: #fff;
}

.reviewCardFooter {
  padding: 32px 0px 16px 0px;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.feed {
  grid-column: 2;

  margin-bottom: 24px;

  display: grid;
  grid-template-columns: repeat( 3 , 1fr );
  gap: 12px;
}