.container{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.item{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.secondContainer{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.box{
    width: 200px;
    background-color: grey;
}
