* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(224, 224, 224);
}

nav {
    background-color: rgb(115, 228, 132);
    text-align: center;
}

ol {
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 10%;
    

}

li a {
    width: 100%;
   color: rgb(0, 0, 0);
   font-size: 24px;
   display: block;
   padding: 50% 30% 50% 30%;
}

a:hover{
    background-color: #fff;
    color: rgb(26, 137, 42);
}  

#lastLink {
    padding-right: 0;
    margin-right: 0;
}

.rad1{
    width: 33.33%;
    float: left;
}

.center {
    text-align: center;
}

.rad2 {
    width: 50%;
    float: left;
}

.container {
    float: left;
    position: relative;
}

.element {
    position: absolute;
    padding: 10px;
    background-color: rgb(110, 110, 110);
    color: #fff;
    bottom: 20px;
    left: 200px;
}
