body {
    font-family: sans-serif;
}

h3 {
    text-shadow: 0 0 3px green;
}

.menu {
    position: relative;
    padding: 5px 30px 5px 30px;
    width: max-content;
    background-color: rgb(164, 255, 164);
}

.menu__content{
    width: max-content;
    background-color: rgb(243, 164, 255);
    position: absolute;
    display: none;
}

.menu__content a{
    display: block;
    margin: 10px 20px 10px 20px;
    color: aliceblue;
    text-decoration: none;
}
.menu__content a:hover{
    text-decoration: underline;
    color: black;
}


.menu:hover .menu__content{
    display: block;
    
}


.shadow{
    width: max-content;
    padding: 10px;
    box-shadow: 10px 10px 5px gray;
    margin-bottom: 100px;
}

.hover {
    width: max-content;
    padding: 20px;
    border: 5px solid black;
    margin-bottom: 100px;
}

.hover:hover{
    color: aqua;
    background-color: rgb(79, 79, 79);
    border: 5px solid aqua;
    text-decoration: underline;
}

.gradient{
    height: 200px;
    background: linear-gradient(to bottom right,rgb(255, 0, 200),rgb(246, 255, 0),rgb(255, 255, 255));
}