.block1__container{
    background-color: #deb887;
    border: 5px solid black;
    height: 300px;
    width: 50%;
}

.block2__container{
    background-color: #00bfff;
    border: 5px double black;
    height: 250px;
    width: 300px;
}

.block1__container p {
    padding: 50px;
    
}

h1{
    margin: 40px 20px 30px 70px;
}