* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    text-align: center;
}
h3{
    margin-top: 50px;
    margin-bottom: 10px;
}

section{
    display: flex;
    justify-content: space-evenly;
    
}

.block {
    background-color: #cdb4db;
    width: 300px;
    height: 300px;
    border: solid 1px black;
}