@font-face{
    font-family: 'Reey';
    src: url(../fonts/Reey-Regular.otf) format('opentype');
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 25px;
}

header{
    height: 1056px;
    position: relative;
    background: url(../img/main\ background.jpg);
    background-size: cover; 
}

nav{
    margin: 0 0 115px 0;
    text-align: right;
}

nav ul li{
    padding-top: 65px;
    padding-right: 60px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;   
}

h2{
    font-family: 'Reey';
    font-weight: 100;
    font-size: 75px;
    text-align: center;
    margin: 0 0 80px 0;
    padding: 100px 0 0 0;
}

a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

a:hover{
    text-decoration: underline;
}

input {
    border: none;
    outline: none;
}


h1 {
    font-family: 'Reey';
    font-size: 91px;
    color: #fff;
    margin-top: 20px;
    font-weight: normal;
}

.btn{
    margin: 65px 0 30px 0;
    width: 215px;
    height: 50px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    border-radius: 20px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.container__left p {
    width: 450px;
    color: #fff;
    font-size: 20px;
    font-style: italic;
}

.menu__container{
    text-align: center;
}

.header__description{
    font-size: 27px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.card {
    float: left;
    width: 33%;
}

.card__header{
    font-weight: bold;
    font-size: 30px;
}

.card__description{
    font-size: 15px;
}

.card__img{
    width: 335px;
    height: 330px;
}

.menu__btn__container button{
    background-color: #000;
    color: #fff;
    margin-top: 135px;
    font-size: 23px;
    border-radius: 50px;
    width: 330px;
    height: 80px;
    letter-spacing: 3px;
}

.info__container{
    text-align: center;
    background-color: #000;
    color: #fff;
    margin-top: 100px;
    padding-bottom: 40px;
    margin-bottom: 55px;
}

.info__card{
    width: 50%;
    float: left;
}

.info__container p {
    font-size: 17px;
    text-align: left;
}

.discounts__container {
    margin-bottom: 100%;
}

.discounts__container img{
    width: 610px;
    height: 610px;
}

.left {
    width: 45%;
    float: left;
    
}

.right{
    width: 45%;
    float: left;
    margin-left: 120px;
}

.discount__header{
    font-size: 58px;
    font-weight: bold;
    padding-top: 110px;
    padding-bottom: 50px;
}

.discount__text{
    font-size: 29px;
}

.discounts__container button{
    background-color: #000;
    color: #fff;
    width: 330px;
    height: 75px;
    border-radius: 50px;
    letter-spacing: 3px;
}

.img__container {
    text-align: center;
    
}

.disconts__btm{
    margin-left: 100px;
}

.right img {
    padding-top: 50px;
}

.nextSection__container {
    margin-top: 60px;
    background: url('../img/main\ background.jpg');
}

.nextSection__container p{
    font-size: 29px;
}

footer{
    float: none;
    margin-top: 340px;
    padding-bottom: 400px;
}



h4 {
    font-style: 31px;
    font-weight: normal;
    font-size: 30px;
    padding-left: 80px;
}

.footer__left{
    width: 50%;
    float: left;
}

.footer__right{
    width: 50%;
    float: left;
}

.footer__right div{
    display: inline-block;
}

footer p {
    padding-left: 80px;
}

footer ul {
    padding-left: 80px;
    list-style-type: none;
    
}
footer a {
    color: #000;
}

.other {
    position: relative;
    bottom: 40px;
}

.footer__icon__img {
    width: 42px;
    height: 42px;
}

.footer__icon {
    display: inline-block;
}

.fi_one{
    margin-left: 80px;
    margin-top: 40px;
}

header h2 {
    color:#fff;
}

.contact__description {
    color: #fff;
    text-align: center;
    font-size: 25px;
}

.contact__bc {
    position: absolute;
    top: 0;
    width: 100%;
}

.contact {
    background-color: #27292c;
    margin-top: -20px;
    padding-top: 240px;
    padding-bottom: 230px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.contact h1 {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 75px;    
    padding-bottom: 75px;
}


.contact__input {
    margin-top: 80px;
    height: 65px;
    width: 580px;
    border: none;
    border-radius: 30px;
    font-size: 25px;
    padding-left: 20px;
    outline: none;
    margin-left: 220px;
}

::-webkit-input-placeholder{
    font-size: 25px;
}

.subscribe__button {
    width: 220px;
    height: 65px;
    border-radius: 45px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #54524f;
    color: #fff;
    font-size: 25px;
    position: relative;
    right: 220px;
}

