/* för alla css dokument gäller följande struktur:
-positionering
-storlek
-alla andra ändringar (i princip färger>texten)
 
för att minska antal tecken i kod och på så sätt optimera den,
används det margin och padding med fyra värde istället för
skriva dem för varje sida.
 
alla ändringar som görs för många element ligger i main.css,
andra ändringar ligger i style.css
*/
 
 
/* importerar teckensnitt för rubriker som var skapat lokalt*/
@font-face{
    font-family: 'Reey';
    src: url(../fonts/Reey-Regular.otf) format('opentype');
}
 
/* gör några ändringar som ska beröra alla element */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 25px;
}
 
/* ändrar på header. Bakgrunder är lokal bild. Bakgrunden kommer att
anpassa sig till headers storlek eftersom vi sätter value 'cover' på
property background-size */
header{
    height: 1056px;
    position: relative;
    background: url(../img/main\ background.jpg);
    background-size: cover;
}
 
nav{
    margin: 0 0 115px 0;
    text-align: right;
}
 
/* inline-block gör att alla li ska stå i en linje,
text-transform ändrar alla bokstäver till stora.
Font-weight visar hur fett ska texten vara. */
nav ul li{
    padding: 65px 60px 0 0;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;  
}
 
h2{
    margin: 0 0 80px 0;
    padding: 100px 0 0 0;
    font-family: 'Reey';
    font-weight: 100;
    font-size: 75px;
    text-align: center;
}
 
/* byter style till mer modern: tar bort dekorationer som
finns inbyggda och sätter den färg och storlek som vi behöver. */
a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
 
 
/* när man hoverar över länkar vill vi att det visas understreck för dem */
a:hover{
    text-decoration: underline;
}
 
/* tar bort obehörig dekoration för input så våra search och
mail-input ska se ut mycket finare */
input {
    border: none;
    outline: none;
}
 
h1 {
    margin: 20px 0 0 0;
    font-family: 'Reey';
    font-size: 91px;
    color: #fff;
    font-weight: normal;
}
 
h4 {
    padding: 0 0 0 80px;
    font-weight: normal;
    font-size: 30px;
}
 
header h2 {
    color:#fff;
}
 
/* här skapas det utseende för alla knapper
cursor: pointer gör att när man hoverar över knappen
kommer det muspekare se ut som när man hoverar över
länkar. Vi tar bort också alla border och outline för att
skapa modern utseende samt rundade kanterna */
.btn{
    margin: 65px 0 30px 0;
    width: 215px;
    height: 50px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    border-radius: 20px;
    cursor: pointer;
    border: 0;
    outline: 0;
}
 
 
/* ändringar på några property för en annan typ av knappar.
Letter-spacing här ändrar mellanrum mellan bokstäver */
.btn__second{
    margin: 135px 0 0 0;
    width: 330px;
    height: 80px;
    background-color: #000;
    color: #fff;
    font-size: 23px;
    border-radius: 50px;
    letter-spacing: 3px;
}
 
 
/* style för footer och olika element inom den, gäller båda sidor */
footer{
    float: none;
    margin-top: 340px;
    padding-bottom: 400px;
}
 
.footer{
    width: 50%;
    float: left;
}
 
.footer__right div{
    display: inline-block;
}
 
footer p {
    padding: 0 0 0 80px;
}
 
footer ul {
    padding: 0 0 0  80px;
    list-style-type: none;
}
 
footer a {
    color: #000;
}
 
.other {
    position: relative;
    bottom: 65px;
}
 
.footer__icon__img {
    width: 42px;
    height: 42px;
}
 
.footer__icon {
    display: inline-block;
}
 
.fi__one{
    margin: 40px 0 0 80px;
}
 
/* pseudoelement placeholder gör det möjligt att ändra placeholder i input
Troligtvis kommer att behöva prefix för att funka korrekt i alla
webbläsare, men funkar utan prefix i min (Firefox 107.0.1).
Annars är det bara ta bort kommenterade selectors*/
::placeholder
/* , ::-webkit-input-placeholder,
::-moz-placeholder,
::-o-placeholder,
::-ms-placeholder{ */{
    font-size: 25px;
}
 

