/* för alla css dokument gäller följande struktur:
-positionering
-storlek
-alla andra ändringar (i princip färger>texten)
 
för att minska antal tecken i kod och på så sätt optimera den,
används det margin och padding med fyra värde istället för
skriva dem för varje sida.
 
alla ändringar som görs för många element ligger i main.css,
andra ändringar ligger i style.css
*/
 
/* från början kan man inte se denna menyn vilket ändras
på rad 30 - 32 när man hoverar över huvudmenyn.
z-index gör så att den inte försvinner under bilden i header
*/
.menu__content{
    display: none;
    position: absolute;
    left: 58%;
    top: 5%;
    z-index: 100;
}
 
.menu__content li {
    display: block;
}
 
.menu:hover .menu__content{
    display: block;
}
 
/* för att kunna positionera search icon inom input sätter jag
position relative och absolute och sedan beskriver mellanrum
för ikonen */
.search{
    position: relative;
}
 
.search img {
    position: absolute;
    left: 143px;
    top: 75px;
}
 
#nav_search{
    padding: 0 0 0 10px;
    height: 50px;
    width: 175px;
    border-radius: 40px;  
}
 
.container__right {
    position: absolute;
    top: 180px;
    left: 760px;
}
 
.container__right img {
    width: 760px;
    height: 830px;
}
 
.container__left {
    margin-left: 100px;
}
 
/* här behöver vi ha italic text vilket görs genom att använda
font-style */
.left__italic {
    margin: 140px 0 0 0;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    color: #fff;
}
 
/* från början befinner sig bilden på fel plats.
Negativ margin-top flyttar bilden uppåt. */
.logo__container img {
    margin-top: -80px 0 80px 0;
    width: 140px;
    height: 140px;
}
 
.container__left p {
    width: 450px;
    color: #fff;
    font-size: 20px;
    font-style: italic;
}
 
/* för att allt text ska centreras använder vi text-align.
Generellt är det inte bara texten, men alla element som inte är
blocker ska centreras inom .menu__container */
.menu__container{
    text-align: center;
}
 
.container__left p {
    width: 450px;
    color: #fff;
    font-size: 20px;
    font-style: italic;
}
 
.header__description{
    margin: 50px 0 100px 0;
    font-size: 27px;
   
}
 
/* för att kort ska ligga bredvid varandra använder vi
float och delar hela sidan (alltså 100%) till tre delar (varje del
ska vara ca 33% då) */
.card {
    float: left;
    width: 33%;
}
 
.card__header{
    font-weight: bold;
    font-size: 30px;
}
 
.card__description{
    font-size: 15px;
}
 
.card__img{
    width: 335px;
    height: 330px;
}
 
.info__container{
    padding: 0 0 40px 0;
    margin: 100px 0 55px 0;
    text-align: center;
    background-color: #000;
    color: #fff;
}
 
.info__card{
    width: 50%;
    float: left;
}
 
.info__container p {
    font-size: 17px;
    text-align: left;
}
 
/* efter att vi använt float flera gånger fick vi lite utrymme vid
första diven så för att nästa diven ska kunna positioneras rätt
och faktiskt vara på sin plats enligt struktur,
behövdes det att sätta lika stor margin som hela sektionen */
.discounts__container {
    margin-bottom: 100%;
}
 
.discounts__container img{
    width: 610px;
    height: 610px;
}
 
.left {
    width: 45%;
    float: left;
}
 
.right{
    margin: 0 0 0 120px;
    width: 45%;
    float: left;
}
 
.discount__header{
    padding: 110px 0 50px 0;
    font-size: 58px;
    font-weight: bold;
}
 
.img__container {
    text-align: center;
}
 
.discounts__btm{
    margin: 0 0 0 100px;
}
 
 
.right img {
    padding: 50px 0 0 0;
}
 
.nextSection__container {
    margin: 60px 0 0 0;
    background: url('../img/main\ background.jpg');
}
 
.nextSection__container p{
    font-size: 29px;
}
 
.contact__description {
    color: #fff;
    text-align: center;
}
 
/* Vi vill att bilden ska vara en del av bakgrunden.
Vi skulle kunna exportera den från template tillsammans med
bakgrunden vi redan har, men bilden är större är sektionen så
att använda img element är enklare. Problemet är att bildens högsta sida
ska vara under alla andra element- som redan finns, istället för
börja där själva sidan börjas. Följande kod löser problemet genom att
ta bort alla mellanrum från toppen */
.contact__bc {
    position: absolute;
    top: 0;
    width: 100%;
}
 
.contact {
    margin: -20px 0 0 0;
    padding: 240px 0 320px 0;
    background-color: #27292c;
    color: #fff;
    text-align: center;
    font-size: 30px;
}
 
.contact h1 {
    padding: 0 0 75px 0;
    font-family: 'Open Sans';
    font-weight: bold;
}
 
/* För att skapa samma form som i template använder jag
border-radius för alla vänstra kanter. Berör inte de högra för att
knappen "subscribe" inte ska ligga på stor del av inputen så att man
inte kan se vad man skriver.
Padding skapar mellanrum mellan kanter och texten inom input som i template
vi tar bort också alla border och outline för att göra inputen utseende mer modern. */
.contact__input {
    margin: 80px 0 0 50px;
    padding: 0 0 0 20px;
    height: 65px;
    width: 580px;
    border: none;
    border-radius: 75px 0 0 75px;
    outline: none;
    font-size: 25px;
}
 
/* enligt template ska knappen ligga på sluten av inputen
vilket vi gör genom att använda position: relative och flytta knappen
så mycket det behövs. */
.subscribe__button {
    position: relative;
    right: 50px;
    width: 220px;
    height: 65px;
    border-radius: 45px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #54524f;
    color: #fff;
    font-size: 25px;
}
 
 
 
 
 

