.search{
    position: relative;
}

.search img {
    position: absolute;
    left: 143px;
    top: 75px;
}

#nav_search{
    padding: 0 0 0 10px;
    height: 50px;
    width: 175px;
    border-radius: 40px;  
}

.container__right {
    position: absolute;
    top: 180px;
    left: 760px;
}

.container__right img {
    width: 760px;
    height: 830px;
}

.container__left {
    margin-left: 100px;
}

.left__italic {
    margin: 140px 0 0 0;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    color: #fff;
}

.logo__container img {
    margin-top: -80px 0 80px 0;
    width: 140px;
    height: 140px;
}